html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: left ;
}

h1 {
    font-size: 18px ;
    color: black;
}

h1:hover {
  color: orange ;
}

h2 {
    font-size: 16px ;
    padding: 4px ;
}

.titles {
  color: darkblue ;
}

h3 {
  font-size: 14px ;
  background-color: darkblue ;
  color: white ;
  text-align: center ;
  padding: 5px ;
}

p,pre {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 13px;
}

.org {
  font-weight: 400;
  color: midnightblue ;
}

.org a:hover {
  background-color: orange ;
  color: black ;
}


#placeholder {
  display: block;
  height: 100px ;
  background-color: white ;
}

.break {
  display: block;
  height: 50px ;
  background-color: white ;
}

#top {
  display: block;
  height: 5px ;
  background-color: white ;
}

/* Style the navbar */
nav {
  width: 960px;
  height: 80px;
  margin: 0 auto;
}

nav ul {
  margin: 20px 0 0;
}

nav ul li {
  display: inline-block;
  margin: 0 30px 0 0;
}

.topnav {
  position: fixed;
  overflow: hidden;
  background: white;
}

.topnav a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  float: left;
  display: block;
  color: darkblue ;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: darkblue ;
  color: white ;
}

.active {
  background-color: orange;
}

input[type="text"] {
    display: block;
    margin: auto;
    width: 50%;
    height: 20px
}

.center {
  margin-left: 30px ;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: darkblue;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #555555;
    color: white;
}

#lightbulbs {
  display: block;
  height: 700px;
  overflow: scroll;
}

#percent {
  padding-top:10px;
  padding-bottom:10px;
}

.icons {
  width: 50%;
  padding-left: 70px;
  padding-right: 70px;
}

.blurb {
  height: 70px;
  text-align: center ;
}
